<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <h1>Tweeter - A Twitter Like Clone</h1>
    <form class="tweeter-form">
      <label for="name">Name:</label>
      <input class="u-full-width" type="text" id="name" name="name" />
      <label for="tweeter">What's on your mind:</label>
      <input class="u-full-width" type="text" id="tweeter" name="tweeter" />
      <button class="btn button-primary" id="send-chirp">Chirp!</button>
    </form>
    <div class="loading">
      <img
        src="../img/blue-ring-loading.gif"
        alt="Loading image"
        width="100px"
      />
    </div>
    <div class="chirps"></div>
    <script type="text/javascript" src="js/client.js"></script>
  </body>
</html>
