<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <h1>Tweeter - A Twitter Like Clone</h1>
    <form class="tweeter-form">
      <label for="name">Name:</label>
      <input class="u-full-width" type="text" id="name" name="name" />
      <label for="tweeter">What's on your mind:</label>
      <input class="u-full-width" type="text" id="tweeter" name="tweeter" />
      <button class="btn button-primary">Chirp!</button>
    </form>
    <div class="chirps">
      <div class="chirp">
        <div class="name">Name:<span>Some name</span></div>
        <div class="chirp-message">Chirp:<span>Some chirp</span></div>
      </div>
      <div class="chirp">
        <div class="name">Name:<span>Some name</span></div>
        <div class="chirp-message">Chirp:<span>Some chirp</span></div>
      </div>
    </div>
    <script type="text/javascript" src="js/client.js"></script>
  </body>
</html>
